@import url(.././index.css);

.appointment_list_main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
    margin-top: 30px;
}

.appointment_list_main :first-child {
    grid-column: span 5;
}

.appointment_detail {
    grid-column: span 7;
    background-color: var(--card);
    padding: 20px;
    width: auto;
    height: auto;
    border-radius: 12px;
}