@import url(.././index.css);
.input_box {
    background-color: #fff;
    width: 100%;
    border: 1px solid #E2E8F0;
    padding: 22px 10px 22px 10px;
    border-radius: 10px;
    height: 35px;
    font-size: 18px;
    color: var(--text-p);
    transition: all 0.5s;
}
.input_box::placeholder{
    color: var(--text);
}
.input_box:focus{
    outline: transparent;
    border: 1px solid #15803D;
}